*.py[co]
servers/nginx/access.log
servers/nginx/error.log
servers/jsonic
servers/torongo
servers/mongo/*
src/
www/libs/info/mindtrove/JSonic.js
www/libs/uow/data/
www/libs/uow/trace.js
*.pid
.DS_Store
nginx/access.log
nginx/error.log
nginx/servers
servers/dev
servers/prod
servers/spaceship
servers/active/*.conf
supervisord/*.log
supervisord/*.pid
