/**
 * ModeEditor widget styling.
 *
 * Copyright UNC Open Web Team 2010. All Rights Reserved.
 */
.uowModeEditorTable {
    border: 1px solid black;
    border-collapse: collapse;
}

.uowModeEditorTable th {
    font-weight: bold;
    border: 1px solid grey;
    padding: 3px;
    text-align: center;
}

.uowModeEditorTable tr {
    border: 1px solid gray;
}

.uowModeEditorTable td {
    border: 1px solid gray;
    padding: 3px;
}

.uowModeEditorTable label {
    padding-right: 2px;
    padding-left: 3px;
}

.uowModeEditorTable colgroup {
    border: 2px solid black;
}
