<div class="uowBrowserDialog">
	<label>{labels.dialog_description}</label>
	<table>
	  <tbody>
  	  <tr>
  	    <td>
  	      <a href="http://www.google.com/chrome"><img src="{image_path}/chrome-logo.jpg" alt="{labels.chrome_alt}" /></a>
  	    </td>
        <td>
          <a href="http://getfirefox.com"><img src="{image_path}/firefox-logo.jpg" alt="{labels.firefox_alt}" /></a>
        </td>
      </tr>
      <tr>
        <td><a href="http://www.google.com/chrome">{labels.chrome_label}</a></td>
        <td><a href="http://getfirefox.com">{labels.firefox_label}</a></td>
      </tr>
    </tbody>
	</table>
</div>