<div class="uowDatabaseEditor">
  <div dojoType="dijit.layout.BorderContainer" 
       gutters="false"
       dojoAttachPoint="borderContainer">
    <div dojoType="dijit.layout.BorderContainer" 
         gutters="false"
         region="top"
         class="uowDatabaseEditorHeader">
      <div dojoType="dijit.Toolbar"
           class="uowDatabaseEditorPicker"
           region="center">
        <label "${id}_db_name">${labels.database_text_label}</label>
        <input dojoType="dijit.form.TextBox"
               id="${id}_db_name"
               dojoAttachPoint="dbNameWidget" /
        ><button dojoType="dijit.form.Button"
                 showLabel="false"
                 dojoAttachEvent="onClick:_onClickConnect"
                 iconClass="uowDatabaseConnect">${labels.connect_button_label}</button
        ><span dojoType="dijit.ToolbarSeparator"></span
        ><label for="${id}_col_name">${labels.collection_text_label}</label>
        <select dojoType="dijit.form.FilteringSelect"
                disabled
                required="false"
                id="${id}_col_name"
                searchAttr="_id"
                labelFunc="uow.ui.DatabaseEditor.formatCollectionLabel"
                dojoAttachEvent="onChange:_onSelectCollection"
                dojoAttachPoint="colNameWidget"></select
        ><button dojoType="dijit.form.Button"
                 disabled
                 showLabel="false"
                 dojoAttachEvent="onClick:_onClickCreate"
                 dojoAttachPoint="createButton"
                 iconClass="uowCollectionCreate">${labels.create_button_label}</button
        ><button dojoType="dijit.form.Button"
                 disabled
                 showLabel="false"
                 dojoAttachEvent="onClick:_onClickDrop"
                 dojoAttachPoint="dropButton"
                 iconClass="uowCollectionDrop">${labels.drop_button_label}</button>
      </div>
    </div>
    <div dojoType="dijit.layout.StackContainer" 
         dojoAttachPoint="stackWidget"
         region="center">
      <div dojoType="dijit.layout.ContentPane"
           class="uowDatabaseEditorIdle"
           dojoAttachPoint="idlePane">${labels.idle_label}</div>
      <div dojoType="dijit.layout.TabContainer" 
           dojoAttachPoint="editorTabs"
           tabStrip="true">
        <div dojoType="uow.ui.DatabaseAccessEditor" 
             iconClass="uowDatabase"
             title="${labels.database_tab_label}"
			 dojoAttachPoint="dbAccessWidget">
        </div>
      </div>
    </div>
  </div>
</div>
