/**
 * Styles for the database access editor widget.
 *
 * Copyright UNC Open Web Team 2010. All Rights Reserved. 
 */
.uowDatabaseAccessEditor {
	overflow: auto;
	padding: 0.5em;
}
.uowDatabaseAccessEditor h1 {
	padding-bottom: 0em;
}
.uowDatabaseAccessEditorItem {
	margin-bottom: 2.0em;
}
.uowDatabaseAccessEditorItem p {
	margin: 0em 1em !important;
}
.uowDatabaseAccessEditorItem h2 {
	margin-top: 0.5em !important;
}
