/**
 * Icons for widgets.
 *
 * Copyright UNC Open Web Group. All Rights Reserved. 
 */
.uowRowInsert {
    background-image: url('icons/database-insert.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
}

.uowRowDelete {
    background-image: url('icons/database-delete.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
}

.uowUndo {
    background-image: url('icons/arrow-curve-180-left.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
}

.uowRedo {
    background-image: url('icons/arrow-curve-000-left.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
}

.uowRefresh {
    background-image: url('icons/arrow-circle-double-135.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
}

.uowDatabaseConnect {
    background-image: url('icons/database-arrow.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
}

.uowDatabase {
    background-image: url('icons/database.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;    
}

.uowCollectionCreate {
    background-image: url('icons/database-plus.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
}

.dijitButtonDisabled .uowCollectionCreate {
    background-image: url('icons/database-plus-disabled.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
}

.uowCollectionDrop {
    background-image: url('icons/database-minus.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
}

.dijitButtonDisabled .uowCollectionDrop {
    background-image: url('icons/database-minus-disabled.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
}

.uowCollectionData {
    background-image: url('icons/document-block.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
}

.uowCollectionSchema {
    background-image: url('icons/document-tree.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
}

.uowCollectionAccess {
    background-image: url('icons/key-pencil.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
}