${upstreams}

server {
    listen ${server_port};
    server_name ${server_name};
    
    # web libraries
    location /libs {
        alias ../servers/${group_name}/www/libs;
    }
    # services
    ${services}
}