/**
 * Styles for the collection editor widget.
 *
 * Copyright UNC Open Web Team 2010. All Rights Reserved. 
 */
.uowCollectionEditor {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.uowCollectionEditor .dijitBorderContainer,
.uowCollectionEditor .dijitBorderContainerNoGutter {
    width: 100%;
    height: 100%;
}

.uowCollectionEditor .dijitToolbar label {
    vertical-align: middle;
    display: inline-block;
    padding: 5px 10px 5px 5px;
    font-size: 0.85em;
}