/**
 * UOW catalog application master stylesheet.
 *
 * Copyright UNC Open Web Team 2010. All Rights Reserved.
 */
html, body, .catalog #layout {
    width: 100%; 
    height: 100%;
    font-size: 0.95em;
}

.catalog.loading {
    visibility: hidden;
}

.catalog #header {
    height: 3.25em;
    background-color: white;
}

.catalog  #header .dijitContentPane {
    padding: 1em !important;
    overflow: hidden;
}

.catalog .dijitContentPane.doc {
    padding: 1em !important;
    background-color: white;
}

.catalog .dijitTitlePane {
    margin-top: 1em;
}

.catalog h1, .catalog h2 {
    margin: 0em;
    margin-bottom: 0.5em;
    font-weight: normal;
}

.catalog h2 {
    font-size: 1.3em;
}

.catalog h3 {
    font-size: 1.1em;
}

.catalog h4 {
    font-size: 1.1em;
    font-weight: normal;
    font-style: italic;
}

.catalog h2, .catalog h3, .catalog h4 {
    margin-top: 1em;
}

.catalog .catPage h2 {
    border-bottom: 1px solid #555;
    font-size: 1.3em;
    width: 25em;
}

.catalog #title {
    margin-bottom: 0em;
}

.catalog a {
    color: #336699;
}

.catalog #nav h2 {
    margin-bottom: 0em;
    margin-top: 1em;

}

.catalog p, .catalog dl {
    max-width: 50em;
    margin: 0em;
    margin-bottom: 1em;
}

.catalog dt {
    font-style: italic;
}

.catalog dd {
    margin-bottom: 1em;
}

.catalog dd > dl {
    margin-top: 1em;
    margin-left: 2em;
}

.catalog code {
    border-width: 0px !important; 
    font-size: 1em !important;
}

.catalog p > code {
    font-size: 1.25em !important;
}

.catalog pre {
    margin-top: 0.5em;
    padding: 0.5em;
    margin-bottom: 2em;
    font-size: 1em !important;
}

.catalog #nav ul, .catalog li {
    padding-left: 0em;
    margin: 0em;
}

.catalog ul, .catalog ol {
    max-width: 50em;
    margin-top: 0em;
    margin-bottom: 1em;
}

.catalog #nav ul {
    list-style-type: none;
}

.catalog .results {
    width: 100%;
    height: 100px;
}

.catalog .available {
    color: green;
}

.catalog .unavailable {
    color: red;
}

.catalog #start label {
    text-align: left;
    width: 15em;
    padding-right: 1em;
    display: block;
    float: left;
    margin-bottom: 10px;
}

.catalog #start input, .catalog #start select {
    width: 15em;
}

.catalog .apidesc {
    margin-left: 2em;
}

.catalog .catUserEditorPane {
    padding: 0px;
}

.catalog .catTool h2 {
    margin-top: 0px;
}

.catalog .catDbEditorHeader {
    height: 24px;
}

.catalog .catDbEditorHeader .dijitRadio {
    vertical-align: middle;
    display: inline-block;
    padding: 4px 0px;
}    

.catalog .catDbEditorHeader label {
    vertical-align: middle;
    display: inline-block;
    font-size: 0.85em;
    padding: 4px 0px;
    padding-right: 3px;
}