html, body, .dijitBorderContainer {
    width: 100%; 
    height: 100%;
    font-size: 0.95em;
}

.dijitContentPane {
    padding: 1em !important;
    background-color: white;
}

h1, h2 {
    margin: 0em;
    margin-bottom: 0.5em;
    font-weight: normal;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1.1em;
    font-weight: normal;
}

h2, h3, h4 {
    margin-top: 1em;
}

#tabs h2 {
    border-bottom: 1px solid #555;
    font-size: 1.3em;
    width: 25em;
}

#title {
    margin-bottom: 0em;
}

a {
    color: #336699;
}

#nav h2 {
    margin-bottom: 0em;
    margin-top: 1em;

}

p {
    max-width: 50em;
    margin: 0em;
    margin-bottom: 1em;
}

code {
    border-width: 0px !important; 
    font-size: 1em !important;
}

pre {
    max-width: 50em;
    margin-top: 0.5em;
    padding: 0.5em;
    margin-bottom: 2em;
}

#nav ul, li {
    padding-left: 0em;
    margin: 0em;
}

ul, ol {
    max-width: 50em;
    margin-top: 0em;
    margin-bottom: 1em;
}

#nav ul {
    list-style-type: none;
}

.loading {
    visibility: hidden;
}

.results {
    width: 100%;
    height: 100px;
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

#start label {
    text-align: left;
    width: 15em;
    padding-right: 1em;
    display: block;
    float: left;
    margin-bottom: 10px;
}

#start input, select {
    width: 15em;
}