<div class="uowCollectionAccessEditor">
  <table dojoAttachPoint="tableNode">
    <thead dojoAttachPoint="tableHead">
      <tr>
        <th>
          <span dojoAttachPoint="dbNameNode"></span> &rarr; 
          <span dojoAttachPoint="colNameNode"></span>
        </th>
        <th data-mode="c">Create (c)</th>
        <th data-mode="r">Read (r)</th>
        <th data-mode="u">Update (u)</th>
        <th data-mode="d">Delete (d)</th>
        <th data-mode="R">Restricted read (R)</th>
      </tr>
    </thead>
    <tbody dojoAttachPoint="tableBody">
      <tr data-role="anonymous" dojoAttachPoint="anonymousRow">
        <td>anonymous</td>
        <td dojoAttachPoint="idleNode" 
            class="uowCollectionAccessEditorIdle dijitContentPaneLoading"
            style="display: none;" 
            colspan="5" 
            rowspan="4">Loading...</td>
      </tr>
      <tr data-role="identified" dojoAttachPoint="identifiedRow">
        <td>identified</td>
      </tr>
      <tr data-role="author" dojoAttachPoint="authorRow">
        <td>author</td>
      </tr>
      <tr data-role="admin" dojoAttachPoint="adminRow">
        <td>admin</td>
      </tr>
    </tbody>
</div>