<div class="uowCollectionEditor">
  <div dojoType="dijit.layout.BorderContainer" 
       gutters="false"
       dojoAttachPoint="borderContainer">
    <div dojoType="dijit.Toolbar" region="top">
      <button dojoType="dijit.form.Button" 
              dojoAttachPoint="newButton" 
              type="button">${labels.new_button_label}</button>
      <button dojoType="dijit.form.Button" 
              dojoAttachPoint="deleteButton" 
              type="button">${labels.delete_button_label}</button>
    </div>
  </div>
</div>