<div class="uowDatabaseEditor">
  <div dojoType="dijit.layout.BorderContainer" 
       gutters="false"
       dojoAttachPoint="borderContainer">
    <div dojoType="dijit.layout.BorderContainer" 
         gutters="false"
         region="top"
         class="uowDatabaseEditorHeader">
      <div dojoType="dijit.Toolbar"
           class="uowDatabaseEditorPicker"
           region="center">
        <label "${id}_db_name">${labels.database_text_label}</label>
        <input dojoType="dijit.form.TextBox"
               id="${id}_db_name"
               dojoAttachPoint="dbNameWidget" /
        ><button dojoType="dijit.form.Button"
                 showLabel="false"
                 dojoAttachEvent="onClick:_onClickConnect"
                 iconClass="uowDatabaseConnect">${labels.connect_button_label}</button
        ><span dojoType="dijit.ToolbarSeparator"></span
        ><label for="${id}_col_name">${labels.collection_text_label}</label>
        <select dojoType="dijit.form.FilteringSelect"
                disabled
                id="${id}_col_name"
                searchAttr="url"
                labelFunc="uow.ui.DatabaseEditor.formatCollectionLabel"
                dojoAttachPoint="colNameWidget"></select
        ><button dojoType="dijit.form.Button"
                 disabled
                 showLabel="false"
                 dojoAttachEvent="onClick:_onClickCreate"
                 iconClass="uowCollectionCreate">${labels.create_button_label}</button
        ><button dojoType="dijit.form.Button"
                 disabled
                 showLabel="false"
                 dojoAttachEvent="onClick:_onClickDrop"
                 iconClass="uowCollectionDrop">${labels.drop_button_label}</button
        >
      </div>
      <div dojoType="dijit.Toolbar"
           class="uowDatabaseEditorMode"
           region="right">
        <input type="radio" 
               checked
               disabled
               dojoType="dijit.form.RadioButton" 
               name="uowDatabaseEditorMode"
               id="${id}_database_mode"
               value="database" /
        ><label for="${id}_database_mode">${labels.database_text_label}</label>
        <input type="radio" 
               disabled
               dojoType="dijit.form.RadioButton" 
               name="uowDatabaseEditorMode"
               id="${id}_collection_mode"
               value="collection" /
        ><label for="${id}_collection_mode">${labels.collection_text_label}</label>
      </div>
    </div>
    <div dojoType="dijit.layout.StackContainer" 
         region="center">
      <div dojoType="dijit.layout.ContentPane"
           class="uowDatabaseEditorIdle"
           dojoAttachPoint="idlePane">${labels.idle_label}</div>
      <div dojoType="dijit.layout.TabContainer" 
           dojoAttachPoint="collectionTabs"
           tabStrip="true">
        <div dojoType="dijit.layout.ContentPane" 
             title="Data"
             class="uowDatabaseEditorWrapper">
          <div dojoType="uow.ui.CollectionEditor"></div>
        </div>
        <div dojoType="dijit.layout.ContentPane" 
             title="Access">
          access editor
        </div>
        <div dojoType="dijit.layout.ContentPane" 
             title="Schema">
          schema editor
        </div>
      </div>
      <div dojoType="dijit.layout.TabContainer" 
           dojoAttachPoint="databaseTabs"
           tabStrip="true">
        <div dojoType="dijit.layout.ContentPane" 
             title="Access">
          access editor
        </div>
      </div>
    </div>
  </div>
</div>