<div class="uowLoginButton">
  <span style="display: none;" dojoAttachPoint="loginNode"><span class="uowIcon uowLoginIcon"></span> ${labels.welcome_label} [<a href="#"  dojoAttachEvent="onclick:_onClickLogin">${labels.login_label}</a>]</span>
  
  <span style="display: none;" dojoAttachPoint="authedNode"><span class="uowIcon uowUserIcon"></span> <span dojoAttachPoint="welcomeNode"></span> [<a href="#" class="uowLogoutIcon" dojoAttachEvent="onclick:_onClickLogout">${labels.logout_label}</a>]</span>
</div>