html, body, .dijitBorderContainer {
    width: 100%; 
    height: 100%;
}

h1 {
    margin-top: 0px;
}

h2 {
    margin-top: 1em;
}

p {
    max-width: 40em; margin-bottom: 0em;
}

code {
    border-width: 0px !important; 
    font-size: 1em !important;
}

pre {
    margin-top: 0.5em;
    padding: 0.5em;
}

.loading {
    visibility: hidden;
}

.results {
    width: 100%;
    height: 100px;
}